@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent;
}

/* Custom styling for time input to match design */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 0.2;
}

select {
  background-image: none !important;
}
