@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  -webkit-tap-highlight-color: transparent;
}

/* Custom styling for time input to match design */
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: none;
  opacity: 0.4;
}

select {
  background-image: none !important;
}
